<div class="jumbotron">
  <h1>Hey!</h1>
  <p>You can learn in this app how to do jwt based auth with Angular 7 and NodeJS</p>
  <ul>
    <li>An API returns JSON Web Token and it is stored in <code>LocalStorage</code></li>
    <li>Conditionally hide and show various parts of the application depending on the user's authentication state </li>
    <li>Protecting client side routes with <code>CanActivate</code></li>
    <li>Created blacklist lib for not-expired tokens in the backend</li>
  </ul>
  <p> <a class="btn btn-primary" routerLink="/signout"   role="button">Log In</a></p>
  <p> <a class="btn btn-primary" routerLink="/signout" role="button">Log Out</a></p>


</div>
