 <nav class="navbar navbar-expand-md navbar-default bg-default">
   <a class="navbar-brand" routerLink="/home">Angular 7 Auth</a>
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/books">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/profile">Profile</a>
            </li>
           
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/signin">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/signout">Log Out</a>
            </li>
        </ul>
    </div>
</nav>


<main class="container">
  <router-outlet></router-outlet>
</main>
